#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin: 10px 20px;
  background-color: blue;
}

.main-content {
  background-color: blueviolet;
  height: 100vh;
  margin: 10px 20px;
}

.quiz-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.svg {
  color: white;
}

.previous {
  left: 0;
  background-color: white;
}

