.main-content {
    width: 100%;
    height: 100vh;
    /* margin: 10px 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.horizontal-separator {
    width: 30%; /* Make it span the full width */
    height: 1px; /* Set a small height */
    /* background-color: #989393; Set the line color */
    border-bottom: 1px solid #989393;
    margin: 20px 0; /* Add space */
}

